/*------------------------------------*\
    #LOGO
\*------------------------------------*/

/**
 * Branding image or text of the site
 */
.c-logo {
  display: inline;
  width: max-content;
}

/**
 * Logo image 
 */
.c-logo__img {
  height: 70px;
  width: 70px;
  display: block;
}
